.grid {
    width: 65%;
    height: 400px;
    background-color: #888;
    margin: 80px auto;
    display: flex;
  }
  
  .column {
    width: 10%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .chip {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
  }
  
  .chip--red {
    background-color: red;
  }
  
  .chip--yellow {
    background-color: yellow;
  }

  .endgame {
    display: none;
    position: absolute;
    text-align: center;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
  }

  .show {
    display: block;
  }

  .endgame h1 {
    margin: 0;
    padding: 0;
  }